section{
	display: grid;
	grid-template-columns:auto 225px 225px 225px 300px auto;
	grid-template-rows: 121px 163px 340px 342px;
	grid-gap: 20px;
}

header{
	grid-column: 2/6;
	grid-row: 1/2;
}

.banner{
	grid-column: 2/6;
	grid-row: 2/4;
}

.net-binnen{
	grid-column: 5/6;
	grid-row: 3/5;
}

.commando{
	grid-column: 2/4;
	grid-row: 3/4;
}

.max-verstappen{
	grid-column: 4/5;
	grid-row: 3/4;
}

.griep-vaccin{
	grid-column: 2/3;
	grid-row: 4/4;
}

.zonovergoten{
	grid-column: 3/4;
	grid-row: 4/4;
}

.schandaal{
	grid-column: 4/5;
	grid-row: 5/4;
}
